name: Code Scan

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  codeql:
    name: CodeQL (${{ matrix.language }})
    permissions:
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        language: [actions, python]
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v6.0.0
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4.31.6
        with:
          languages: ${{ matrix.language }}
          build-mode: none
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4.31.6
        with:
          category: /language:${{ matrix.language }}
